<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>312241312748-sb4ct828nb2nc3a8l5be61sfk00dbod5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.312241312748-sb4ct828nb2nc3a8l5be61sfk00dbod5</string>
	<key>API_KEY</key>
	<string>AIzaSyAAo5o9H9Y3cb7OLv0jfiFvNdlW5ckO7W8</string>
	<key>GCM_SENDER_ID</key>
	<string>312241312748</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.thisisstreamliner.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uber-ios-b2626</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-ios-b2626.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:312241312748:ios:e8b6c1a1049531ee1326c9</string>
	<key>DATABASE_URL</key>
	<string>https://uber-ios-b2626-default-rtdb.europe-west1.firebasedatabase.app</string>
</dict>
</plist>